@import "bootstrap-4.3.1/bootstrap.scss";
@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/regular.scss";

$lightblue: #0099CC;
$black: #333333;
$lightcyan: #CCFFFF;

body{
    a{
    color: black;
    text-decoration: none;
    }
}
.all_buttons{
    background-color: #168FCC;
    color:white;
}

.inline {
    display: inline-block;
}
.left {
    float: left;
}

.header {
    padding: 20px;
    font-size: 40px;
    background-color: $lightblue;
    color: white;
}
.sidebar {
    padding: 20px;
    font-size: 20px;
    border-right: 2px solid $lightblue;
}
.details_header {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.textfields {
    display: flex;
    justify-content: space-evenly;
}
.buttons_wrapper {
    display: flex;
    padding: 20px;
}